/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p a {
  color: inherit; /* Keeps the text color same as the paragraph */ 
  /* text-decoration: underline;  */
  font-weight: inherit; /* Inherit font weight */
  font-family: inherit; /* Inherit font family */
}

a {
  display: inline;
}

a:hover {
  color: #0022a3;
}

/* Prevent Horizontal Scrolling */
body {
  overflow-x: hidden;
}

/* About Page Styles */
.About {
  max-height: 100vh; /* Ensure full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AboutContainer {
  width: 100%;
  flex-grow: 1;
  overflow: hidden; /* Prevent overflow */
}

/* Header */
.AboutContainer header {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Logo */
.AboutContainer .Logo a {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 500;
  font-style: normal;
  color: #00121a;  
  z-index: 9999;
  text-decoration: none;
}

/* Text */
.About .Text p {
  color: #555555;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 10px 5px 20px 5px;
  width: 800px;
}

/* Bio */
.About .Bio {
  margin: 30px 5px;
  width: 800px;
}

/* About Icons */
.About .AboutIcons {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 25px auto;
}

/* Adjust Hover States */
.About .AboutIcons svg path {
  cursor: pointer;
}

.About .AboutIcons svg path:hover,
.About .AboutIcons svg path:active {
  color: #0022a3;
}

.About .AboutIcons svg path:active {
  color: #0022a3;
}



/* -------------------- tablet -------------------- */

@media (max-width: 900px) {

  .About .Bio {
    width: 90%;
    margin: 30px auto;
  }

  .About .Text p {
    width: 90%;
    margin: 0 auto;
  }

  .About .AboutIcons {
    margin: 30px auto;
  }
}


/* -------------------- mobile -------------------- */

@media (max-width: 500px) {
  
  .AboutContainer {
    width: 100%;
    flex-grow: 1;
  }

  .AboutContainer header {
    margin-left: 65px;
  }

  .About .Bio {
    margin: 50px auto;
    width: 90%;
  }

  .About .Text p {
    margin: auto;
    width: 85%;
  }

  .About .AboutIcons {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }

}