p a {
  color: inherit; /* Keeps the text color same as the paragraph */ 
  /* text-decoration: underline;  */
  font-weight: inherit; /* Inherit font weight */
  font-family: inherit; /* Inherit font family */
}

a {
  display: inline;
}

a:hover {
  color: #0022a3;
}

.About {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AboutContainer {
  margin: 0;
}

.AboutContainer header {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.AboutContainer .Logo a {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 500;
  font-style: normal;
  color: #00121a;  
  z-index: 9999;
  text-decoration: none;
}

.About .Text p {
  color: #555555;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 10px 5px 20px 5px;
  width: 800px;
}

.About .Bio {
  margin: 30px 5px;
  width: 800px;
}

.About .AboutIcons {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 25px;
}

.About .AboutIcons svg path {
  cursor: pointer;
}

.About .AboutIcons svg path:hover {
  color: #0022a3;
}

.About .AboutIcons svg path:active {
  color: #0022a3;
}



/* -------------------- tablet -------------------- */

@media (max-width: 900px) {

  .About .Bio {
    width: 500px;
  }

  .About .Text p {
    width: 500px;
  }
}


/* -------------------- mobile -------------------- */

@media (max-width: 500px) {
  
  .AboutContainer {
    width: 100%;
  }

  .AboutContainer header {
    margin-left: 65px;
  }

  .About .Bio {
    margin-bottom: 30px;
    width: 375px;
  }

  .About .Text p {
    margin-bottom: 50px;
    width: 350px;
  }

  .About .AboutIcons {
    width: 390px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }

}