.Home {
  margin: 0;
  height: 100vh;
  background-size: cover;
  z-index: 1;
}

.Home header {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}



.Home .Logo a {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 500;
  font-style: normal;
  color: #00121a;  
  z-index: 9999;
  text-decoration: none;
}

.Home .Logo a:hover {
  color: #0022a3;
}


.Home h3 {
  text-decoration: none;
}


@media (max-width: 500px) {
  
  .Home .Logo {
    margin-left: 65px;
  }

}