* {
  margin: 0;
  font-family: "Allerta";
}

.NavBar {
  /* background-image: linear-gradient(#fedec7, #fedec7, #fedec7, #fedec7, #fedec7, #fedec700); */
  /* background-image: linear-gradient(#fffeac, #fffeac, #fffeac, #fffeac, #fffeac, #fffeac00); */
  height: 100vh;
  top: 50px;
  left: 50px;
  width: 180px;
  position: fixed;
  z-index: 0;
  opacity: 0.9;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: blue; */
}

.NavBar .Logo {
  position: absolute;
  color: #15b7ff;
  /* background-color: green; */
  left: 0;
  top: 0;
  width: 170px;
  /* padding: 45px 0 45px 45px; */
  /* padding-left: 55px; */
  float:left;
  text-indent: -1px;

  /* font-weight: 900; */
  /* padding-right:1%; */
  /* margin-top:5rem; */
  /* text-transform: lowercase; */
  cursor: pointer;
  text-decoration: none;
}

.NavBar .Logo a {
  color: #15b7ff;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif; 
  /* font-weight: 800; */
  font-size: 2.55rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3em;
}

.NavBar nav ul {
  list-style: none;
  margin-bottom: 35vh;
  /* padding-left: 55px; */
  /* background-color: yellow; */
  left: 0;
  padding: 0;
}

.NavBar nav ul li {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.NavBar nav ul li a {
  text-decoration: none;
  /* color: #15b7ff; */
  color: #555555;
  font-family:Arial, Helvetica, sans-serif; 
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: 16px;
  /* display: block; */
  padding: 0.2em;
  cursor: pointer;
}

.NavBar a:hover {
  color: #22bfff;
}

.NavBar nav ul li a:active {
  color: #22bfff;
}

.NavBar nav a:active {
  color: #22bfff;
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar .Social {
  margin-top: 55%;
  padding: 0;
}

.NavBar .Social svg path {
  cursor: pointer;
}

.NavBar .Social svg path:hover {
  color: #22bfff;
}

.Footer {
  display: none;
}







@media (max-width: 1100px) {
    /* .NavBar {
      width: 100%;
    } */
  
    .NavBar .Navigation {
      display: none;
    }

    .NavBar .MobileNavigation {
      display: flex;
      align-items: center;
    }

    .Logo {
      margin: 45%;
    }


    .NavBar nav ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      padding-top: 15%;
      padding-bottom: 35%;
      right: 0;
      width: 100%;
      /* background: linear-gradient(180deg, #fedec7, #fedec7, #89befb, #022e61); */
      background-image: linear-gradient(#fffeac, #fef4b5, #fedec7,#fedec7, #7dace4, #022e61);
      /* border-top: 2px solid #c5d248; */
    }

    .NavBar nav ul li {
      padding-left: 15%;
      padding-bottom: 2%;
    }

    .NavBar {
      opacity: 1;
    }

    .NavBar a:hover {
      border-bottom: none;
      font-weight: bold;
    }

}

.NavBar .MobileNavigation .Hamburger {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}