* {
  margin: 0;
  font-family: "Allerta";
  /* background: green; */
}

.NavBar {
  /* background-image: linear-gradient(#fedec7, #fedec7, #fedec7, #fedec7, #fedec7, #fedec700); */
  /* background-image: linear-gradient(#fffeac, #fffeac, #fffeac, #fffeac, #fffeac, #fffeac00); */
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  opacity: 0.9;
  display: flex;
  align-items: center;
}

.Navigation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
}

.NavBar .Logo {
  position: absolute;
  color: #15b7ff;
  left: 0;
  top: 0;
  width: 170px;
  float:left;
  text-indent: -1px;
  cursor: pointer;
  text-decoration: none;
  padding: 50px;
}

.NavBar .Logo a {
  color: #15b7ff;
  text-decoration: none;
  font-family:"Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 2.50rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3em;
  
}

.NavBar nav ul {
  list-style: none;
  left: 0;
  padding-top: 250px;
}

.NavBar nav ul li {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-top: 35px;
}

.NavBar nav ul li a {
  text-decoration: none;
  /* color: #15b7ff; */
  color: #555555;
  font-family:Arial, Helvetica, sans-serif; 
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: 16px;
  /* display: block; */
  padding: 0.2em;
  cursor: pointer;
}

.NavBar a:hover {
  color: #22bfff;
}

.NavBar nav ul li a:active {
  color: #22bfff;
}

.NavBar nav a:active {
  color: #22bfff;
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar .Social {
  margin-top: 55%;
  padding: 0;
}

.NavBar .Social svg path {
  cursor: pointer;
}

.NavBar .Social svg path:hover {
  color: #22bfff;
}

.Hamburger {
  padding: 25px;
}

.NavBar .Social {
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 1px;
  left: 0;
}

.Footer {
  display: none;
}







@media (max-width: 1100px) {
    /* .NavBar {
      width: 100%;
    } */
  
    .NavBar .Navigation {
      display: none;
    }

    .NavBar .MobileNavigation {
      display: grid;
      align-items: center;
      /* width: 500px; */
    }

    .NavBar .Logo {
      display: none;
    }


    .NavBar nav ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      padding-top: 0;
      /* margin-right: 25px; */
      background-color: blue;
      width: 350px;
    }

    .NavBar nav ul li {
      text-align: center;
    }

    .NavBar nav ul li a {
      font-size: 20px;
    }

    .NavBar {
      opacity: 1;
    }

    .NavBar a:hover {
      border-bottom: none;
    }



}

.NavBar .MobileNavigation .Hamburger {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 !important;
  cursor: pointer;
  z-index: 2;
}