* {
  margin: 0;
  font-family: "Allerta";
  text-decoration: none;
}

.NavBar {
  /* position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  width: 450px;
  z-index: 0;
  opacity: 0.9;
  display: flex;
  margin-right: 450px;
  align-items: center;
  flex-direction: column; */
  /* position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center; */
}

.Navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.NavBar .Logo {
  /* position: absolute;
  color: #4b69a7;
  left: 0;
  top: 0;
  width: 170px;
  float: left;
  text-indent: -1px;
  cursor: pointer;
  padding: 50px; */
  /* height: 100px; */
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  /* top: 0;
  margin: 0;
  padding: 0; */
}

.NavBar .Logo a {
  /* color: #4b69a7;
  text-decoration: none;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 2.50rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3em;
  text-decoration: none; */
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 500;
  font-style: normal;
  color: #00121a;  
  z-index: 9999;
  text-decoration: none;
  
}

.NavBar nav ul {
  /* list-style: none;
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center; */
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 20px 50px;
  margin-top: 15px;
  /* width: 100%; */
}

.NavBar nav ul li {
  padding-right: 15px;
  text-decoration: none;

}

.NavBar nav ul li a {
  text-decoration: none;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: .9rem;
  display: block;
  padding: 0.2em;
  cursor: pointer;
}

.NavBar a:hover {
  color: #0022a3;
}

.NavBar nav ul li a:active {
  color:  #0022a3;
}

.NavBar nav a:active {
  color:  #0022a3;
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar .Social svg path {
  cursor: pointer;
}

.NavBar .Social svg path:hover {
  color:  #0022a3;
}

.Hamburger {
  padding: 30px 0 0 25px;
}

.NavBar .Social {
  display: none;
  /* justify-content: left;
  padding: 0 20px;
  left: 0; */
}

.Footer {
  display: none;
}

@media (max-width: 1100px) {
  .NavBar {
    width: 100%;
    /* height: 80vh; */
  }

  /* .NavBar .Navigation {
    display: none;
  } */

  .NavBar .MobileNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    /* padding: 20px; */
  }

  .NavBar .Logo {
    display: none;
  }

  .NavBar nav ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    padding: 35px 0px;
    background-color: #fff;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 100px;
    padding-bottom: 150px;
  }

  .NavBar nav ul li {
    text-align: left;
    margin: 30px 0;
  }

  .NavBar nav ul li a {
    font-size: 26px;
    color: #333;
  }

  .NavBar nav ul li a:hover {
    color:  #0022a3;
  }

  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 !important;
    cursor: pointer;
    z-index: 2;
  }

  .NavBar .Social {
    display: flex;
    margin-top: 0;
    padding: 20px 25px;
  }

  .NavBar .Social li svg {
    height: 45px;
  }

  .NavBar .Social li {
    margin-top: 0;
    padding: 20px 25px;
  }
}