body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  height: 100vh;
  background-image: linear-gradient(#008c95, #F3CD91, #F3CD91, #E47946);
  /* background: #E5E5E5; */
  background: white;
  color: white;
}

.swiper-button-next, .swiper-button-prev {
  color: #043265 !important;
 }

 .swiper-pagination-bullet-active {
  color:  #043265 !important;
 }